<div class="container_12">
  <div class="grid_10 prefix_1">
    <p>
      We believe live music is the best way to genuinely experience your favorite artist. Our aim is to provide a simple, fast and enjoyable way to know what live acts are performing in your city tonight, tomorrow, next month, and beyond. We were tired of missing out on live music because we didn't know about it or because scalpers found out before we did. We wanted to know that pre-sale tickets are going on sale at 10am on a random tuesday three weeks from now. Knowledge is half the battle, and now you know. We pledge never to let not-knowing be the reason you missed out.
    </p>
    <p>
      DC DECIBEL is the first of many to come in the CityDECIBEL Network. This website is the result of the collective effort of our developer Alex Sleighter and co-founders Julia Senerth and David Kalikhman. Click the 'Contact' page to get in touch with us.
    </p>
  </div>
</div>

