<div class="container_16">
  <div class="grid_16 centered upper-case about-container">
    <img src="/assets/about.png" class="centered" alt="as live music fanatics we got sick of missing shows, not hearing about pre-sales, and having to comb through dozens of poorly designed websites to find good acts. so we did something about it. here is a simple, clear way to know whos playing where, when, and how to get there. enjoy. -david,julia, & alex"/>
  </div>
</div>

