<div class="container_16">
  <div class="prefix_2 grid_12 upper-case about-container">
    <p>DC DECIBEL is a live music aggregate for the district of columbia. It is the first of many cities to launch as part of the CityDECIBEL Network. As live music fanatics we got fed up of missing shows, not hearing about pre-sales, and having to comb through dozens of poorly designed websites to find good acts. So we did something about it. CityDECIBEL was founded by David Kalikhman and Julia Senerth. Our developer Alex Sleighter was brought on board shortly thereafter because we're babbling fools. We may add some bio's, but for now we're going with the dark & mysterious vibe. Want to ruin it? Check the Contact page. </p>

    <h3 class="section-title">FREQUENTLY ASKED QUESTIONS</h3>
    <section>
    <h4>How do I navigate the list?</h4>
    <p>
    Click an artist for a short biography, links to their homepage, wikipedia, and last.fm.
    Click a venue for an address, map, phone #, and link to their homepage.
    Click a ticket price for a link to the official seller as well as resellers on stub hub and craigslist if they are sold out.
    Sort the columns by artist name, venue, price, and date.
    </p>
    </section>
    <section>
    <h4>Can you explain the different sections?</h4>
    <p>
    Upcoming  features a list of every show in our database. We try our best to have a wide variety of genres, artists, venues, and prices. If you're looking for a show for tonight, tomorrow, next week, or next month, this is the place to go.
    <br/>
    Just Announced filters by shows recently announced and added to our database in the last seven days. If it's a pre-sale, it will stick around until the pre-sale is over and will be identified with special icon. After that, it will only be found on the upcoming list. We recommend checking the newly announced shows often so you don't miss you favorite band.
    <br/>
    Search offers an opportunity to comb through our entire list for a specific artist without having to scour for it.
    <br/>
    Our Blog offers weekly recommendations for shows, commentary on the music scene in the district, ticket-giveaways, and occasional staff musings. If you're looking for the best shows of the week, want to hear some samples of upcoming acts, or really want those free Black Keys tickets, the blog is the place.
    </p>
    </section>
    <section>
    <h4>What's with the star icon?</h4>
    <p>
    The star icon indicates an Editor's Pick. We think the band featured puts on a great show that's worth your time and money. Chances are a CityDECIBEL staff member will be at the show! Come say hello, we may give you some stickers or a t-shirt or something.
    </p>
    </section>
    <section>
    <h4>Why isn't X show or Y venue on the list?</h4>
    <p>
    Sometimes things slip under the radar. If you feel we've overlooked a great show or venue  send an e-mail to staff@citydecibel.com and we'll look into it.
    <br/>
    <br/>
    On the other hand, we try our best to provide the best content out there. If we included everything, there would be over a dozen shows a day and it would make for a very convoluted list of hit and miss shows. The shows you see here are held at reputable venues that we've personally verified have consistently great acts. Sometimes a band or venue may not make the cut. For that we apologize and encourage you to e-mail us if you feel we're making a huge mistake. (yes, that was an arrested development reference).
    </p>
    </section>
    <section>
    <h4>Can you add my band or venue to the list?</h4>
    <p>
    Maybe, but if you're not already featured, probably not. If you're a band, send a sample of your music to staff@citydecibel.com and we'll get back to you. If you represent a venue, send an e-mail with your contact information to marketing@citydecibel.com and we will give you a call.
    </p>
    </section>
    <section>
    <h4>Why don't you ________ or Why doesn't ___________ work?</h4>
    <p>
    If you have any recommendations, problems, or questions feel free to send us an e-mail at staff@citydecibel.com. We would love to hear from you.
    </p>
</section>
  </div>
</div>

