<div class="container_12">
  <div class="grid_12 centered contact-container">
    <p>
<span class="bold">alex sleighter</span><br/>
developer<br/>
<a href="mailto:alex@citydecibel.com">alex@citydecibel.com</a><br/>
    </p>
    <p>
<span class="bold">david kalikhman</span><br/>
co-founder<br/>
design & marketing<br/>
<a href="mailto:david@citydecibel.com">david@citydecibel.com</a><br/>
    </p>
    <p>
<span class="bold">julia senerth</span><br/>
co-founder<br/>
content & marketing<br/>
<a href="mailto:julia@citydecibel.com">julia@citydecibel.com</a><br/>
    </p>
    <p>
<span class="bold">advertising, marketing, or media inquiries:</span><br/>
<a href="mailto:marketing@citydecibel.com">marketing@citydecibel.com</a><br/>
    </p>
    <p>
<span class="bold">questions, comments, or problems:</span><br/>
<a href="mailto:staff@citydecibel.com">staff@citydecibel.com</a><br/>
    </p>
  </div>
</div>

