<table class="container_16" border="0" cellpadding="0" cellspacing="0">
  <thead>
  <tr>
    <th><h2>Artist</h2></th>
    <th><h2>Venue</h2></th>
    <th><h2>Date</h2></th>
    <th><h2>Tickets</h2></th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= link_to(event.bands.first ? event.bands.first.name : event.name, event.bands.first ? band_url(event.bands.first) : event_url(event)) %></td>
      <td><%= event.venue ? event.venue.name : "" %></td>
      <td><%= event.event_datetime.to_s(:long_date) %></td>
      <td>None</td>
    </tr>
  <% end %>
  </tbody>
</table>
