/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require reset
 *= require 960
 *= require 960_16_col
 *= require scaffolds
 *= require bands
 *= require cities
 *= require events
 *= require neighborhoods
 *= require tickets
 *= require venues
 *= require home
 *= require jquery_ui
*/
@font-face 
{
  font-family: geosans;
  src: url('/assets/GeosansLight.ttf');
}
@font-face
{
  font-family: swis721LtCnBTDtype;
  src: url('/assets/Swis721LtCnBTDtype.ttf');
}
@font-face
{
  font-family: swisscbdtype;
  src: url('/assets/SWISSCB-dtype.ttf');
}

TD {
  font-size: 14pt;
}

BODY,H1{
  font-family: swis721LtCnBTDtype;
  background: transparent;
}

H2,H3{
  font-family: swisscbdtype;
}
H1{
  font-size: 33pt;
}

/* Basic Components */
.centered {
  text-align: center;
}
.right-align {
  text-align: right;
}
.clear-both {
  clear: both;
}
.horizontal-divider {
  height: 1px;
  background-color: black;
  clear: both;
}

/* Title Components */
#title_container{
  margin-bottom: 24px;
}
.title {
  background: url("/assets/dcdecibel-logo.png") -15px -10px;
  width: 960px;
  height: 166px;
  font-family: swis721LtCnBTDtype;
}

/* Footer Components */
.footer {
  text-align: center;
}
.footer UL {
  list-style: none;
}
.footer LI {
  float:left;
  margin-right: 0;
}
/* Main Menu Components */
.main_menu{
  color: black;
  margin-bottom: 25px;
}
.main_menu H1{
  margin-bottom: 10px;
  font-size: 3em;
}
#main_menu_tonight{ letter-spacing: 0.7em; }
#main_menu_upcoming{ letter-spacing: 0.7em; }
#main_menu_announced{ letter-spacing: -0.1em; }
#main_menu_filter{ letter-spacing: 0.5em; text-align: right;}
.selected{
  font-family: swisscbdtype;
}
