/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require reset
 *= require 960
 *= require 960_16_col
 *= require 960_12_col
 *= require scaffolds
 *= require bands
 *= require cities
 *= require events
 *= require neighborhoods
 *= require tickets
 *= require venues
 *= require home
 *= require jquery_ui
 *= require lionbars
*/
@font-face
{
  font-family: geosans;
  src: url('/assets/GeosansLight.ttf');
}
@font-face
{
  font-family: swis721LtCnBTDtype;
  src: url('/assets/Swis721LtCnBTDtype.ttf');
}
@font-face
{
  font-family: swisscbdtype;
  src: url('/assets/SWISSCB-dtype.ttf');
}

TD {
  font-size: 11pt;
}

BODY,H1{
  font-family: Arial;
  background: transparent;
}

H2,H3{
  font-family: Arial;
  font-weight: bold;
}
H1{
  font-weight: normal;
  font-size: 36px;
}

/* Basic Components */
A{
  color: black;
}
.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.bold{
  font-weight: bold;
}
.hidden{
  visibility: hidden;
}
.right-align {
  text-align: right;
}
.clear-both {
  clear: both;
}
.horizontal-divider {
  height: 1px;
  background-color: black;
  clear: both;
}

/* Title Components */
#title_container{
  margin-bottom: 24px;
}
.title {
  background: url("/assets/dcdecibel-logo.png") -15px -10px;
  width: 960px;
  height: 166px;
  font-family: swis721LtCnBTDtype;
}

/* Footer Components */
.footer-menu {
  text-align: center;
  width: 413px;
}
.footer-menu UL {
  list-style: none;
}
.footer-menu LI {
  float:left;
  margin-right: 0;
}
/* Main Menu Components */
.main_menu{
  color: black;
  margin-bottom: 25px;
}
.main_menu H1{
    font-size: 34px;
    margin-bottom: 10px;
    letter-spacing: 0;
}

.main_menu H1:hover, .main_menu H1 A:hover {
  text-decoration: none;
}
.main_menu_item{
  letter-spacing: 1px;
  float: left;
}
#main_menu_upcoming{ margin-right: 20px; }
#main_menu_announced{ margin-right: 20px; }
#main_menu_search{ margin-right: 20px; }
#main_menu_about{}
#main_menu_blog{ float: right; }
.main_menu_light_link{color: #d8d8d8;}

.selected, .selected H1{
  font-weight:bold;
}
/* Info Panel Components */
.info_title{
  font-weight:bold;
  font-size: 34px;
  margin-bottom: 9px;
}
.info_subtitle{
  font-weight:bold;
  font-size: 20px;
  margin-bottom: 5px;
}
.info_line_item{
  margin-bottom: 0;
  font-size: 15px;
}
.info_close, .close_info_panel_action{
  margin-top: 15px;
  margin-bottom: 7px;
  font-size: 12px;
  font-weight:bold;
}


/* Special Components */
.ec-star {
  position: relative;
  top: -2px;
}

