// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

THEAD TH{
  background-color: white;
  font-weight: bold;
  color: #BBB;
  text-align: left;
}

TR{
}

TD {
  letter-spacing: .75px;
  text-align: left;
  font-size: 13px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

h2:hover {
  color: #000;
}

A {
  text-decoration: none;
  color: black;
}

P {
  margin-bottom: 15px;
}

A:hover {
   background-color: transparent;
   font-weight: bold;
}

.drop_down_arrow{
  display: none;
  margin-top: -4px;
}

.drop_link:hover .drop_down_arrow{
  display: inline;
}

.drop_link.selected .drop_down_arrow{
  display: none;
}

#events-table TH {
  cursor: pointer;
}

#details-row {
  display:none;
  text-transform: uppercase;
}

#details-div {
  max-height: 215px;
  vertical-align: middle;
  margin-bottom: 15px;
  padding-bottom: 3px;
  border-bottom: 1px solid #AAA;
}
.details-content{
  max-height: 215px;
}
#details-div > IMG {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: center;
}

.band-link:hover, .venue-link:hover, .ticket-link:hover {
  cursor: pointer;
}
.date-sort-column, .price-sort-column{
  display: none;
}
.band-image{
  max-width: 300px;
  max-height: 200px;
  margin-right: 15px;
  float: left;
}
.band-bio{
  max-height: 190px;
  overflow-y: auto;
  margin-right: 15px;
}
.band-bio p{
    font-size: 10px;
    line-height: 13px;
    margin-right: 25px;
    text-transform: uppercase;
}

.band-links, .venue-links{
  float: right;
}

.tonight-event TD{
  font-weight:bold;
}

.lower-case{
  text-transform: lowercase;
}
.about-container {
  margin-bottom: 15px;
}

.about-container p {
  font-size: 30px;
  line-height: 30px;
  font-weight:bold;
}

.contact-container{
  margin-bottom: 15px;
}

.contact-container p{
  font-size: 25px;
  line-height: 25px;
}

