// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

THEAD TH{
  background-color: white;
  font-weight: bold;
  color: #BBB;
  text-align: left;
}

TD {
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 20px;
}
  
h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

A {
  text-decoration: none;
  color: black;
}

A:hover {
  text-decoration: underline;
  background-color: white;
}
