// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

THEAD TH{
  background-color: white;
}

TD {
  text-align: center;
  font-size: 1.2em;
}

A {
  text-decoration: none;
  color: black;
}

A:hover {
  text-decoration: underline;
  background-color: white;
}
