<!DOCTYPE html>
<html>
<head>
  <title>DC DECIBEL - Live Music in Washington D.C.</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/jpeg" href="/assets/favicon.jpg" />
</head>
<body>
<div class="container_16" id="title_container">
  <div class="grid_16 title centered" >
  </div>
</div>
<div class="container_16 main_menu">
  <div class="grid_4" id="main_menu_tonight">
    <h1>TONIGHT</h1> 
  </div>
  <div class="grid_5" id="main_menu_announced">
    <h1 class="selected">JUST ANNOUNCED</h1>
  </div>
  <div class="grid_4" id="main_menu_upcoming">
    <h1>UPCOMING</h1>
  </div>
  <div class="grid_3" id="main_menu_filter">
    <h1>FILTER</h1>
  </div>
  <div class="clear"></div>
  <div class="horizontal-divider grid_16"></div>
</div>
<div clear="clear"></div>
<%= yield %>
<div class="clear"></div>
<div class="footer container_16">
  <div class="horizontal-divider grid_16"></div>
  <div class="prefix_10 grid_6 right-align">
    <ul>
      <li><span>ABOUT/</span></li>
      <li><span>CONTACT/</span></li>
      <li><span>ALL RIGHTS RESERVED/</span></li>
      <li><span>CITYDECIBEL 2012</span></li>
    </ul>
  </div>
</div>
</body>
</html>
