<!DOCTYPE html>
<html>
<head>
  <title>Dcdecibel</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container_16">
  <div class="grid_16 title centered" >
    <span class="title_1">DC</span><span class="title_2">DECIBEL</span>
  </div>
</div>
<div class="container_16 main_menu">
  <div class="grid_4">
    <h1>TONIGHT</h1>
  </div>
  <div class="grid_4">
    <h1>JUST ANNOUNCED</h1>
  </div>
  <div class="grid_4">
    <h1 class="main_menu_selected">UPCOMING</h1>
  </div>
  <div class="grid_4">
    <h1>FILTER</h1>
  </div>
</div>
<div class="clear"></div>
<%= yield %>
<div class="clear"></div>
<div class="footer container_16">
  <div class="horizontal-divider grid_16"></div>
  <div class="prefix_10 grid_6 right-align">
    <ul>
      <li><span>ABOUT/</span></li>
      <li><span>CONTACT/</span></li>
      <li><span>ALL RIGHTS RESERVED/</span></li>
      <li><span>CITYDECIBEL 2012</span></li>
    </ul>
  </div>
</div>
</body>
</html>
